.navbar {
    background-color: rgb(35, 35, 35);
    color: white;
    width: 100%;
    height: 4rem;
    align-items: center;
    
  }
  
  .nav-placer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-title-placer{
    margin-left: 20px;
  }
  
  .nav-title{
    font-size: 1.5rem;
  }
  
  .nav-user-placer{
    margin-top: 13px;
    display:flex;
    flex-direction:row;
  }
  
  .nav-user{
    font-size: 14px;
    cursor:default;
  }
  
   .nav-icon{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    margin-right: 28px;
  }
  
  .notifi-num{
    color: white;
    vertical-align: top;
    margin-left: -11px;
    opacity: 1;
    visibility: visible;
  }
  
  .notifi-num-click{
    color: white;
    vertical-align: top;
    margin-left: -5px;
    visibility: hidden;
    opacity:0
  }
  
  .notifi-num-click svg{
    font-size: 0px;
  }
  
  .notifi-num svg{
    font-size: 7px;
  }
  
  .notifi-box{
    width:300px;
    height:400px;
    visibility:visible;
    opacity:1;
    position: absolute;
    background-color: white;
    top: 64px;
    right: 35px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 10;
  }
  
  .profile-box{
    width:110px;
    height:90px;
    visibility:visible;
    opacity:1;
    position: absolute;
    background-color: white;
    top: 64px;
    right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 10;
  }
  
  
  .notifyDown{
    height:0px;
    visibility: hidden;
    opacity: 0;
    width:300px;
    position: absolute;
    background-color: white;
    top: 64px;
    right: 35px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 0;
  }
  
  .profDown{
    height:0px;
    visibility: hidden;
    opacity: 0;
    width:110px;
    position: absolute;
    background-color: white;
    top: 64px;
    right: 35px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 0;
  }
  
  .notifi-box h2{
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
  }
  
  .notifi-box h2 span{
    color: #f00;
  }
  
  .notifi-box-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 5px 5px;
    cursor: pointer;
    z-index: 9;
  }
  
  .profile-box-item{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
    padding: 2px 2px;
    cursor: pointer;
    z-index: 9;
  }
  
  .profile-box-item h4 span svg{
    color: black;
    font-size: 14px;
  }
  
  .notifi-box-item:hover{
    background-color: #eee;
  }
  
  .profile-box-item:hover{
    background-color: #eee;
  }
  
  .notifi-box-text{
    justify-content: left;
  }
  
  .profile-box-text{
    margin-left: 17px;
    justify-content: left;
  }
  
  .notifi-box-item .notifi-box-text h4{
    color: #777;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .profile-box-item .profile-box-text h4{
    color: #777;
    font-size: 12px;
    margin-top: 10px;
  }
  
  .profile-box-icon{
    margin-top: 8px;
    margin-left: 7px;
  }
  
  .profile-box-item .profile-box-icon svg{
    font-size: 19px;
    color: black;
  }
  
  .notifi-box-item .notifi-box-text p{
    color: #aaa;
    font-size: 12px;
  }
  
  .nav-icon svg{
    padding-top: 10px;
  }
  